.active {
  text-decoration: underline;
}

.hide {
  display: none;
}

.show {
  display: block;
}
@keyframes slide-out-right {
  from {
    translate: 0%;
    opacity: 1;
  }
  to {
    translate: 101%;
    opacity: 0;
  }
}
@keyframes slide-out-left {
  from {
    translate: 0%;
    opacity: 1;
  }
  to {
    translate: -101%;
    opacity: 0;
  }
}
@keyframes full-spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
:root {
  --bg-color-primary: #FF6060;
  --text-color-primary: #FF6060;
  --text-color-primary--hover: #ff2e2e;
  --text-color-secondary: white;
  --selection-bg-color: #009d9d;
  --selection-color: black;
  --star-color-full: #FF6060;
  --star-color-empty: #E3E3E3;
  --transparent-grey: rgba(128, 128, 128, 0.5);
  --transparent-black: rgba(0, 0, 0, 0.55);
  --page-bg-color: white;
  --footer-bg-color: black;
  --scrollbar-track-color: #e4e4e4;
  --scrollbar-thumb-color: rgb(159, 159, 159);
  --scrollbar-thumb-color--hover: #868686;
  --scrollbar-thumb-color--active: #6c6c6c;
}

@media (prefers-reduced-motion) {
  *,
  :before,
  ::after {
    animation: none !important;
    transition: none !important;
  }
}
*::-moz-selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-color);
}

*::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-color);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vmax;
}

body {
  background-color: var(--page-bg-color);
  color: var(--text-color-primary);
  min-height: 100vh;
  overflow-x: hidden;
  transition: background-color 350ms ease-out, color 350ms ease-out;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: var(--text-color-primary);
  text-decoration: none;
}

main {
  margin: 0 5%;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

button {
  font-family: "Montserrat", sans-serif;
}

.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.error-404__text {
  text-align: center;
}
.error-404__title {
  font-weight: 700;
  font-size: 288px;
}
@media screen and (max-width: 768px) {
  .error-404__title {
    font-size: 96px;
  }
}
.error-404__sub-title {
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  .error-404__sub-title {
    font-size: 18px;
  }
}
.error-404__link {
  text-decoration: underline;
  color: var(--text-color-primary);
  margin-bottom: 125px;
}
.error-404__link:hover {
  color: var(--text-color-primary--hover);
}
@media screen and (max-width: 768px) {
  .error-404__link {
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
.banner {
  display: flex;
  justify-content: center;
  position: relative;
}
.banner h1 {
  position: absolute;
  color: white;
  z-index: 10;
  font-size: 48px;
  line-height: 68px;
  top: 50%;
  transform: translate(0%, -50%);
}
.banner__img {
  position: relative;
  width: 100%;
  border-radius: 25px;
}

.logements {
  background: #F7F7F7;
  border-radius: 25px;
  display: flex;
  flex-flow: row wrap;
  padding: 0 2rem;
  justify-content: space-around;
  animation: fade-item-menu 1000ms;
  -moz-animation: fade-item-menu 0.6s;
  -webkit-animation: fade-item-menu 0.6s;
  -o-animation: fade-item-menu 0.6s;
  animation-fill-mode: both;
}
.logements__main {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  flex: 0 0 28%;
  max-width: 28%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: var(--text-color-secondary);
  aspect-ratio: 1/1;
  width: 100%;
}
.logements__main:hover {
  transform: scale(1.05);
}
.logements__main::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent); /* Adjust the gradient as needed */
  aspect-ratio: 1/1;
  width: 101%;
}
.logements__main__img {
  border-radius: 10px;
  width: 340px;
  height: 340px;
}
.logements__title {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.coverImg {
  border-radius: 25px;
  mix-blend-mode: normal;
  width: 1240px;
  height: 415px;
  left: 100px;
  top: 128px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logementDetail__title {
  font-size: 36px;
  line-height: 51px;
  color: #FF6060;
  margin-block-end: 0em;
}
.logementDetail__location {
  font-size: 18px;
  line-height: 26px;
  color: #FF6060;
}
.logementDetail__tag {
  display: flex;
  margin-top: 1rem;
}
.logementDetail__tag li {
  background: #FF6060;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 0.1rem 2rem;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.logementDetail__host {
  display: flex;
  justify-content: space-between;
}
.logementDetail__hostname {
  font-size: 18px;
  line-height: 26px;
  color: #FF6060;
  text-align: end;
}
.logementDetail__img {
  -webkit-clip-path: ellipse(50% 50%);
          clip-path: ellipse(50% 50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 64px;
  height: 64px;
  margin-top: -5px;
}
.logementDetail__rate {
  margin-top: 1rem;
}
.logementDetail__rate img {
  margin-right: 0.5rem;
}
.logementDetail__accordion {
  flex-flow: row wrap !important;
  justify-content: space-between !important;
  align-items: baseline !important;
  margin-bottom: 3rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list .feature-button {
  background-color: #FF6060;
  color: white;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  width: 1023px;
  height: 47px;
  top: 776px;
  left: 208px;
  border-radius: 10px;
}
.feature-list .feature-button .svg-inline--fa {
  margin-left: 1rem;
}
.feature-list .feature-text {
  width: 1023px;
  height: 184px;
  background-color: #F6F6F6;
}

.nav-link {
  font-size: 24px;
  color: #FF6060 !important;
}/*# sourceMappingURL=main.css.map */