@use "../Utils/" as *;

/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/

.banner {
    display: flex;
    justify-content: center;
    position: relative;

    h1 {
        position: absolute;
        color: white;
        z-index: 10;
        font-size: 48px;
        line-height: 68px;
        top: 50%;
        transform: translate(0%, -50%);
    }

    &__img {
        position: relative;
        width: 100%;
        border-radius: 25px;
    }
}

.logements {
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 2rem;
    justify-content: space-around;

    animation: fade-item-menu 1000ms;
    -moz-animation: fade-item-menu .6s; // Firefox
    -webkit-animation: fade-item-menu .6s; // Safari et Chrome
    -o-animation: fade-item-menu .6s; // Opera
    animation-fill-mode: both;

    &__main {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        flex: 0 0 28%;
        max-width: 28%;
        padding-top: 2rem;
        padding-bottom: 1rem;
        color: var(--text-color-secondary);
        aspect-ratio: 1/1;
        width: 100%;
    
        &:hover {
            transform: scale(1.05);
        }
    
        &::before {
            content: "";
            @include absolute-center;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent); /* Adjust the gradient as needed */
            aspect-ratio: 1/1;
            width: 101%;
        }
    
        &__img {
            border-radius: 10px;
            width: 340px;
            height: 340px;
        }
    }
    
    

    &__title {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;

    }
}

.coverImg {
    border-radius: 25px;
    mix-blend-mode: normal;
    width: 1240px;
    height: 415px;
    left: 100px;
    top: 128px;
    object-fit: cover;
}

.logementDetail {
    &__title {

        font-size: 36px;
        line-height: 51px;
        color: $bg-color-primary;
        margin-block-end: 0em;
    }

    &__location {

        font-size: 18px;
        line-height: 26px;
        color: $bg-color-primary;
    }

    &__tag {
        display: flex;
        margin-top: 1rem;

        li {
            background: $bg-color-primary;
            border-radius: 10px;
            margin-right: 1rem;
            padding: 0.1rem 2rem;

            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    &__host {
        display: flex;
        justify-content: space-between;
    }

    &__hostname {

        font-size: 18px;
        line-height: 26px;
        color: $bg-color-primary;
        text-align: end;
    }

    &__img {
        clip-path: ellipse(50% 50%);
        object-fit: cover;
        width: 64px;
        height: 64px;
        margin-top: -5px;
    }

    &__rate {
        margin-top: 1rem;

        img {
            margin-right: .5rem;
        }
    }

    &__accordion {
        flex-flow: row wrap !important;
        justify-content: space-between !important;
        align-items: baseline !important;
        margin-bottom: 3rem;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}